#Unreal gitignore
/Binaries
/Build
/DerivedDataCache
/Intermediate
/Saved
*.VC.opendb
*.VC.db
*.sdf
*.sln
/Content/StarterContent
/.vs
/Plugins/DialoguePlugin/Intermediate
/Plugins/DialoguePlugin/Binaries
