<?xml version="1.0" encoding="utf-8"?>

<?include ..\Variables.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="Battleship.exe" Guid="{AD2D9E93-BE44-4FE9-A11C-61276333A242}" Win64='no'>
        <File Id="Battleship.exe" KeyPath="yes" Source="$(var.Win64SourceDir)\Battleship.exe" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Base">
      <ComponentRef Id="Battleship.exe" />
    </ComponentGroup>
  </Fragment>
</Wix>