<?xml version="1.0" encoding="utf-8"?>

<?include ..\Variables.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="EngineBuild">
      <Component Id="Build.version" Guid="{BD487338-0914-44E6-B190-16F13BBB5FB4}" Win64='no'>
        <File Id="Build.version" KeyPath="yes" Source="$(var.Win32SourceDir)\Engine\Build\Build.version" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="EngineBuild">
      <ComponentRef Id="Build.version" />
    </ComponentGroup>
  </Fragment>
</Wix>