<?xml version="1.0" encoding="utf-8"?>

<?include ..\Variables.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="EngineBinaries">
      <Directory Id="ThirdParty" Name="ThirdParty">
        <Directory Id="Oculus" Name="Oculus">
          <Directory Id="OculusMobile" Name="OculusMobile">
            <Directory Id="SDK_1_0_3" Name="SDK_1_0_3">
              <Directory Id="Oculus_Win32" Name="Win32">
                <Component Id="VrApiShim.dll" Guid="{A1D8AB24-C25F-428E-8E15-29DC565D2ECE}" Win64='no'>
                  <File Id="VrApiShim.dll" KeyPath="yes" Source="$(var.Win32SourceDir)\Engine\Binaries\ThirdParty\Oculus\OculusMobile\SDK_1_0_3\Win32\VrApiShim.dll" />
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="Ogg" Name="Ogg">
          <Directory Id="Win32" Name="Win32">
            <Directory Id="VS2015" Name="VS2015">
              <Component Id="libogg.dll" Guid="{E1133603-F6F0-44E8-BBEB-A99783F9540E}" Win64='no'>
                <File Id="libogg.dll" KeyPath="yes" Source="$(var.Win32SourceDir)\Engine\Binaries\ThirdParty\Ogg\Win32\VS2015\libogg.dll" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="OpenVR" Name="OpenVR">
          <Directory Id="OpenVRv1_0_6" Name="OpenVRv1_0_6">
            <Directory Id="Win32_1" Name="Win32">
              <Component Id="openvr_api.dll" Guid="{486AC64A-DCE2-419D-9542-D263F7B1641D}" Win64='no'>
                <File Id="openvr_api.dll" KeyPath="yes" Source="$(var.Win32SourceDir)\Engine\Binaries\ThirdParty\OpenVR\OpenVRv1_0_6\Win32\openvr_api.dll" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="PhysX" Name="PhysX">
          <Directory Id="Win32_2" Name="Win32">
            <Directory Id="VS2015_1" Name="VS2015">
              <Component Id="ApexFrameworkPROFILE_x86.dll" Guid="{1624EDA9-1C96-4BE2-96D7-05C39E900A76}" Win64='no'>
                <File Id="ApexFrameworkPROFILE_x86.dll" KeyPath="yes" Source="$(var.Win32SourceDir)\Engine\Binaries\ThirdParty\PhysX\Win32\VS2015\ApexFramework_x86.dll" />
              </Component>
              <Component Id="APEX_ClothingPROFILE_x86.dll" Guid="{3D9A9B1B-4965-4692-8A4F-24840C45051D}" Win64='no'>
                <File Id="APEX_ClothingPROFILE_x86.dll" KeyPath="yes" Source="$(var.Win32SourceDir)\Engine\Binaries\ThirdParty\PhysX\Win32\VS2015\APEX_Clothing_x86.dll" />
              </Component>
              <Component Id="APEX_DestructiblePROFILE_x86.dll" Guid="{A51B04F7-93EA-4846-9067-94B4414A851F}" Win64='no'>
                <File Id="APEX_DestructiblePROFILE_x86.dll" KeyPath="yes" Source="$(var.Win32SourceDir)\Engine\Binaries\ThirdParty\PhysX\Win32\VS2015\APEX_Destructible_x86.dll" />
              </Component>
              <Component Id="APEX_LegacyPROFILE_x86.dll" Guid="{23ED5529-A4F0-4D59-B5F2-5FE2647DB747}" Win64='no'>
                <File Id="APEX_LegacyPROFILE_x86.dll" KeyPath="yes" Source="$(var.Win32SourceDir)\Engine\Binaries\ThirdParty\PhysX\Win32\VS2015\APEX_Legacy_x86.dll" />
              </Component>
              <Component Id="NvCloth_x86.dll" Guid="{53469079-7D15-4355-B79B-1F023938494E}" Win64='no'>
                <File Id="NvCloth_x86.dll" KeyPath="yes" Source="$(var.Win32SourceDir)\Engine\Binaries\ThirdParty\PhysX\Win32\VS2015\NvCloth_x86.dll" />
              </Component>
              <Component Id="PhysX3CommonPROFILE_x86.dll" Guid="{EEB9B3F5-3EE8-422B-881F-5F1ED225321D}" Win64='no'>
                <File Id="PhysX3CommonPROFILE_x86.dll" KeyPath="yes" Source="$(var.Win32SourceDir)\Engine\Binaries\ThirdParty\PhysX\Win32\VS2015\PhysX3Common_x86.dll" />
              </Component>
              <Component Id="PhysX3CookingPROFILE_x86.dll" Guid="{58B9DC58-C88A-48BB-9F0B-456B56A59C8B}" Win64='no'>
                <File Id="PhysX3CookingPROFILE_x86.dll" KeyPath="yes" Source="$(var.Win32SourceDir)\Engine\Binaries\ThirdParty\PhysX\Win32\VS2015\PhysX3Cooking_x86.dll" />
              </Component>
              <Component Id="PhysX3PROFILE_x86.dll" Guid="{8B34DC7F-F82C-44D4-91D0-609EAFCAD202}" Win64='no'>
                <File Id="PhysX3PROFILE_x86.dll" KeyPath="yes" Source="$(var.Win32SourceDir)\Engine\Binaries\ThirdParty\PhysX\Win32\VS2015\PhysX3_x86.dll" />
              </Component>
              <Component Id="PxFoundation_x86.dll" Guid="{F5AA8ACC-1985-4575-B797-F2E8560BFFC8}" Win64='no'>
                <File Id="PxFoundation_x86.dll" KeyPath="yes" Source="$(var.Win32SourceDir)\Engine\Binaries\ThirdParty\PhysX\Win32\VS2015\PxFoundation_x86.dll" />
              </Component>
              <Component Id="PxPvdSDK_x86.dll" Guid="{6841FC10-4460-489A-9E72-E964141F1F59}" Win64='no'>
                <File Id="PxPvdSDK_x86.dll" KeyPath="yes" Source="$(var.Win32SourceDir)\Engine\Binaries\ThirdParty\PhysX\Win32\VS2015\PxPvdSDK_x86.dll" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="Vorbis" Name="Vorbis">
          <Directory Id="Win32_4" Name="Win32">
            <Directory Id="VS2015_3" Name="VS2015">
              <Component Id="libvorbisfile.dll" Guid="{84ED57DD-7631-424E-9550-57289998D67E}" Win64='no'>
                <File Id="libvorbisfile.dll" KeyPath="yes" Source="$(var.Win32SourceDir)\Engine\Binaries\ThirdParty\Vorbis\Win32\VS2015\libvorbisfile.dll" />
              </Component>
              <Component Id="libvorbis.dll" Guid="{204A5839-0A00-4EA3-9616-82C9382CE92C}" Win64='no'>
                <File Id="libvorbis.dll" KeyPath="yes" Source="$(var.Win32SourceDir)\Engine\Binaries\ThirdParty\Vorbis\Win32\VS2015\libvorbis.dll" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="Win32_5" Name="Win32">
        <Component Id="CrashReportClient.exe" Guid="{047D63F4-C9F3-42C6-8EC7-04FC2687AE1F}" Win64='no'>
          <File Id="CrashReportClient.exe" KeyPath="yes" Source="$(var.Win32SourceDir)\Engine\Binaries\Win32\CrashReportClient.exe" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="EngineBinaries">
      <ComponentRef Id="VrApiShim.dll" />
      <ComponentRef Id="libogg.dll" />
      <ComponentRef Id="openvr_api.dll" />
      <ComponentRef Id="ApexFrameworkPROFILE_x86.dll" />
      <ComponentRef Id="APEX_ClothingPROFILE_x86.dll" />
      <ComponentRef Id="APEX_DestructiblePROFILE_x86.dll" />
      <ComponentRef Id="APEX_LegacyPROFILE_x86.dll" />
      <ComponentRef Id="NvCloth_x86.dll" />
      <ComponentRef Id="PhysX3CommonPROFILE_x86.dll" />
      <ComponentRef Id="PhysX3CookingPROFILE_x86.dll" />
      <ComponentRef Id="PhysX3PROFILE_x86.dll" />
      <ComponentRef Id="libvorbisfile.dll" />
      <ComponentRef Id="libvorbis.dll" />
      <ComponentRef Id="CrashReportClient.exe" />
      <ComponentRef Id="PxFoundation_x86.dll" />
      <ComponentRef Id="PxPvdSDK_x86.dll" />
    </ComponentGroup>
  </Fragment>
</Wix>