<?xml version='1.0' encoding='Windows-1252'?>

<?include ..\Variables.wxi ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='$(var.ProjectName)' Manufacturer='$(var.CompanyName)'
      Id='*'
      UpgradeCode='{29054044-2BA4-4793-B2A6-0162579D2748}'
      Language='1033' Version='$(var.Version)'>

    <Package Id='*' Keywords='Installer' Description="$(var.ProjectName) setup" Platform="x86"
        Comments='$(var.ProjectName) is a registered trademark of $(var.CompanyName)' Manufacturer='$(var.CompanyName)'
        InstallerVersion='200' Compressed='yes' InstallScope='perMachine' />

    <Media Id='1' Cabinet='battleship.cab' EmbedCab='yes' />

    <Directory Id='TARGETDIR' Name='SourceDir'>

      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='CDIR' Name='$(var.CompanyName)'>
          <Directory Id='INSTALLDIR' Name='Battleship' />
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Final Equinox - The Arrival"/>
      </Directory>

    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{BCEBC3A6-7494-4229-B92E-044F57C69508}">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Final Equinox - The Arrival" Description="$(var.DisplayName)" Target="[INSTALLDIR]Battleship.exe" WorkingDirectory="INSTALLDIR"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\FrozenWastelandEntertainment\FinalEquinoxTheArrival" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Shortcuts">
      <ComponentRef Id="ApplicationShortcut"/>
    </ComponentGroup>

    <Feature Id='Complete' Level='1'>
      <ComponentGroupRef Id='UnrealFiles' />
      <ComponentGroupRef Id='Shortcuts'/>
    </Feature>
  </Product>
</Wix>