<?xml version="1.0" encoding="utf-8"?>

<?include ..\Variables.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="Battleship.exe" Guid="{1C24EB73-7A75-4630-BAC8-A2AE0E92ED82}" Win64='yes'>
        <File Id="Battleship.exe" KeyPath="yes" Source="$(var.Win64SourceDir)\Battleship.exe" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Base">
      <ComponentRef Id="Battleship.exe" />
    </ComponentGroup>
  </Fragment>
</Wix>