<?xml version="1.0" encoding="utf-8"?>

<?include ..\Variables.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="EnginePrograms">
      <Directory Id="CrashReportClient" Name="CrashReportClient">
        <Directory Id="Config" Name="Config">
          <Component Id="DefaultEngine.ini" Guid="{CBAEC269-61AF-4C00-92AB-6E83C61666F2}" Win64='yes'>
            <File Id="DefaultEngine.ini" KeyPath="yes" Source="$(var.Win64SourceDir)\Engine\Programs\CrashReportClient\Config\DefaultEngine.ini" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="EnginePrograms">
      <ComponentRef Id="DefaultEngine.ini" />
    </ComponentGroup>
  </Fragment>
</Wix>